.header {
  text-align: center;
  height: 90vh;
  width: 100vw;
  background-image: url("../img/climate-action.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #0a0a0a;
}

/* Class Things */

/* Segments */

.story-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2em;
  color: #008a25;
  text-transform: uppercase;
  padding-bottom: 1em;
}

.cta {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 1.4em;
  color: #008a25;
  padding-bottom: 1em;
}

.stat-captions {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  color: #008a25;
  margin: 0.25em 0 0.25em 0;
}

.stat-captions span {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 2.5em;
  margin: 2em 2em 2em 0.5em;
  color: #008a25;
}

/* @Media Calls */

/* Medium devices (tablets, 768px and up to 992px) */
@media screen and (max-width: 992px) {
  /* Font things */

  .cta {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 1.4em;
    color: #008a25;
    padding-bottom: 1.5em;
    padding-top: 1rem;
  }

  /* Buttons */

  .cta-button {
    margin-bottom: 1em;
    margin-top: 0em;
    position: relative;
    left: 25%;
    width: 50%;
  }
}
