.header {
  text-align: center;
  height: 90vh;
  width: 100vw;
  background-image: url("../img/leadership.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #0a0a0a;
}

#navbar {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow: hidden;
  background-color: #6f7c4d;
  z-index: 1;
  top: 0;
}

#navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.875rem 1rem 0.875rem 0rem;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #6f7c4d;
  color: #0a0a0a;
}

#navbar a.active {
  background-color: #6f7c4d;
  color: #fff;
}

/* Class Things */

/* Segments */

.story-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2em;
  color: #6f7c4d;
  text-transform: uppercase;
  padding-bottom: 1em;
}

.cta {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 1.4em;
  color: #6f7c4d;
  padding-bottom: 1em;
}

.stat-captions {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  color: #6f7c4d;
  margin: 0.25em 0 0.25em 0;
}

.stat-captions span {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 2.5em;
  margin: 2em 2em 2em 0.5em;
  color: #6f7c4d;
}

/*This section was removed after Sharnie branding review */

/* .cta-button {
  background-color: #6f7c4d;
  border: 1px solid #6f7c4d;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  padding: 0.75rem 3.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
.cta-button:hover {
  background-color: gray;
  color: #6f7c4d;
}
.cta-button:active {
  position: relative;
  top: 1px;
} */

/* @Media Calls */

/* Medium devices (tablets, 768px and up to 992px) */
@media screen and (max-width: 992px) {
  /* Font things */

  .cta {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 1.4em;
    color: #6f7c4d;
    padding-bottom: 1.5em;
    padding-top: 1rem;
  }

  /* Buttons */

  .cta-button {
    margin-bottom: 1em;
    margin-top: 0em;
    position: relative;
    left: 25%;
    width: 50%;
  }
}
